.figure{
    height: 45vh;
}

.figure img {
    width: 90%;
}

.table_cell_image{
    width: 8vh;
}

.table_cell_image img{
    width: 100%;
    object-fit: cover;
}

.watchlist_btn{
    width: 7vh;
}

.watchlist_btn img{
    width: 100%;
}