{% extends "auctions/layout.html" %}
{% load django_bootstrap5 %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
{% if listing_id is None  %}
<h1> Create a new entry.</h1>
<form action="{% url action %}" method="post">
{% else %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'listing' listing_id %}">{{title}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>
<form action="{% url action listing_id %}" method="post">
{% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Save" %}
</form>
{% endblock %}