{% extends "auctions/layout.html" %}
{% block title %}
{{listing.title}}
{% endblock %}
{% block navigation %}
{%if is_editable %}
<li>
    <a class="nav-link" href="{% url 'edit' listing.id %}">Edit</a>
</li>
{% endif %}
{%endblock%}
{% block body %}
<div class="breadcrumbs">
    <a href="{% url 'index' %}">Home</a> >> <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
</div>
<hr class="breadcrumbs_hr" />
<div class="product">
    <div class="product_image">
        <img src="{{ listing.image }}" alt="Listing item image">
    </div>
    <div class="product_info">
        <div class="title_block">
            <div class="prod_title">
                <h1>
                    {{ listing.title }}
                </h1>
            </div>
            {% if listing.is_watchable %}
            <div class="watchlist_indicator">
                <form action="{% url 'edit_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        {% load static %}
                        <input name="wl_flag" type="hidden" value="False">
                        {% if listing.is_in_watchlist %}
                        <img src="{% static 'auctions/img/del_watchlist.png' %}" alt="Delete from Watchlist">
                        {% else %}
                        <img src="{% static 'auctions/img/add_watchlist.png' %}" alt="Add to Watchlist">
                        {% endif%}
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
        <hr class="prod_hr" />
        <div class="prod_price">
            <div class="price">
                <span class="price_text">
                    ${{ listing.price }}
                </span>
            </div>
        </div>
        <hr class="prod_hr" />
        <div class="prod_description">
            <p>{{ listing.description }}</p>
        </div>
    </div>
</div>
<hr class="product_hr" />
<div class="details">
    <h3>Delails:</h3>
    <ul>
        <li>
            Listed by: {{ listing.auctioneer }}
        </li>
        <li>
            Category: {{ listing.category }}
        </li>
        <li>
            Created: {{ listing.created_date }}
        </li>
    </ul>
</div>
<hr class="product_hr" />
<div class="bid_block">
    {% if user.is_authenticated %}
    {% if listing.is_active %}
    {%if listing.is_editable %}
    <div class="owner_bid">
        {% if listing.bid_info.max_bid > 0 %}
        <p>Current bid is <b>${{ listing.bid_info.max_bid }}</b></p>
        {% else %}
        <p>There is no bids for this item currently.</p>
        {% endif %}
        <a href="{% url 'close_auction' listing.id %}">Close the auction! </a>
    </div>
    {% else %}
    <div class="new_bid">
        <form action="{% url 'place_bid' listing.id %}" method="post">
            {% csrf_token %}
            {% if listing.bid_info.max_bid == 0 %}
            <p>
                You would be the first! Place your bid for <b>{{listing.title}}</b>
            </p>
            {% else %}
            <p>
                {{listing.bid_info.count}} bid(s) so far.
                {% if listing.bid_info.user_bid %}
                Your bid is a current bid.
                {% endif %}
            </p>
            {% endif %}
            <p>{{ bid_message }}</p>
            <label for="bid">Yout bid in $:</label>
            <input type="text" class="number-only" id="bid" name="bid" placeholder="Bid in $">
            <input type="submit" value="Place a bid">
        </form>
    </div>
    {% endif %}
    {% else %}
    {%if listing.is_editable %}
    <div class="owner_bid">
        <p>You close the auction. Winning bid is <b>${{listing.bid_info.max_bid}}.</b></p>
    </div>
    {% else %}
    <div class="new_bid">
        <p>Auction is closed.</p>

        {% if listing.bid_info.user_bid %}
        <h3>Congradulation! You won the auction!</h3>
        {% endif %}
    </div>
    {% endif %}
    {% endif%}
    {% else %}
    <P> You need to be authorized to place a bid! </P>
    {% endif %}
</div>
<hr class="product_hr" />
<div class="comment_block">
    {% for comment in comments %}
    <div class="comment">
        <div class="comment_author"> {{comment.author}}</div>
        <div class="comment_text"> {{comment.text}}</div>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="comment_form">
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <label for="comment">Add new comment:</label>
            <textarea class="comment_text" id="comment" name="comment" placeholder="Text your comment" rows="3"></textarea>
                <div class="field"><input type="submit"></div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}