{% extends "auctions/layout.html" %}
{% block title %}
{{listing.title}}
{% endblock %}
{% block navigation %}
{%if listing.is_editable %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'edit' listing.id %}">Edit</a>
</li>
{% endif %}
{%endblock%}
{% block body %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ listing.title }}</li>
    </ol>
</nav>
<hr class="breadcrumbs_hr" />

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ listing.image }}" class="img-fluid rounded-start" alt="Listing item image">
        </div>
        <div class="col-md-8">
            <div class="card-body border-dark">
                <h4 class="card-title shadow-lg p-3 mb-5 bg-body-tertiary rounded">{{ listing.title }}</h4>
            </div>
            <div class="card-body border-dark">
                <div class="row">
                    <div class="col-8 col-sm-10">
                        <h5 class="card-title">${{ listing.price }}</h6>
                    </div>
                    <div class="col-4 col-sm-2 text-right">
                        {% if listing.is_watchable %}
                        <div class="watchlist_btn">
                            <form action="{% url 'edit_watchlist' listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">
                                    {% load static %}
                                    <input name="wl_flag" type="hidden" value="False">
                                    {% if listing.is_in_watchlist %}
                                    <img src="{% static 'auctions/img/del_watchlist.png' %}"
                                        alt="Delete from Watchlist">
                                    {% else %}
                                    <img src="{% static 'auctions/img/add_watchlist.png' %}" alt="Add to Watchlist">
                                    {% endif%}
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="card-body border-dark">
                <p class="card-text">{{ listing.description }}</p>
            </div>
            <div class="card-body border-dark">
                <p class="card-text">
                    Category: {{ listing.category }}
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text">
                    <small class="text-body-secondary">
                        Created: {{ listing.created_date | date:"Y-m-d" }} by <i>{{ listing.auctioneer }}</i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="bid_block">
    {% if user.is_authenticated %}
    {% if listing.is_active %}
    {%if listing.is_editable %}
    <div class="owner_bid">
        {% if listing.bid_info.max_bid > 0 %}
        <p>Current bid is <b>${{ listing.bid_info.max_bid }}</b></p>
        {% else %}
        <p>There is no bids for this item currently.</p>
        {% endif %}
        <a href="{% url 'close_auction' listing.id %}">Close the auction! </a>
    </div>
    {% else %}
    <div class="new_bid">
        {% if listing.bid_info.max_bid == 0 %}
        <p>
            You would be the first! Place your bid for <b>{{listing.title}}</b>
        </p>
        {% else %}
        <p>
            {{listing.bid_info.count}} bid(s) so far.
            {% if listing.bid_info.user_bid %}
            Your bid is a current bid.
            {% endif %}
        </p>
        {% endif %}
        <p>{{ bid_message }}</p>
        <form class="row row-cols-lg-auto g-3 align-items-center" action="{% url 'place_bid' listing.id %}"
            method="post">
            {% csrf_token %}
            <div class="col-12">
                <label class="visually-hidden" for="bid">Username</label>
                <div class="input-group">
                    <div class="input-group-text">$</div>
                    <input type="text" class="form-control" id="bid" placeholder="Yout bid">
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Place a bid</button>
            </div>
        </form>
    </div>
    {% endif %}
    {% else %}
    {%if listing.is_editable %}
    <div class="owner_bid">
        <p>You close the auction. Winning bid is <b>${{listing.bid_info.max_bid}}.</b></p>
    </div>
    {% else %}
    <div class="new_bid">
        <p>Auction is closed.</p>
        {% if listing.bid_info.user_bid %}
        <h3>Congradulation! You won the auction!</h3>
        {% endif %}
    </div>
    {% endif %}
    {% endif%}
    {% else %}
    <P> You need to be authorized to place a bid! </P>
    {% endif %}
</div>
<hr/>

<div class="comment_block">
    {% for comment in comments %}
    <div class="card card text-bg-light mb-3">
        <div class="card-header">
            {{comment.author}}
        </div>
        <div class="card-body">
            <p class="card-text">{{comment.text}}</p>
        </div>
    </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <div class="comment_form">
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <label for="comment" class="col-sm-2 col-form-label">Add new comment:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="comment" name="comment" placeholder="Text your comment" rows="3"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-dark col-sm-1">Submit</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}