{% extends "auctions/layout.html" %}
{% block title %}
{{listing.title}}
{% endblock %}
{% block navigation %}
{%if is_editable %}
<li>
    <a class="nav-link" href="{% url 'edit' listing.id %}">Edit</a>
</li>
{% endif %}
{%endblock%}
{% block body %}
    <div class="breadcrumbs">
        <a href="{% url 'index' %}">Home</a> >> <a href = "{% url 'listing' listing.id %}">{{ listing.title }}</a>
    </div>
    <hr class="breadcrumbs_hr" />
    <div class="product">
        <div class="product_image">
            <img src="{{ listing.image }}" alt="Listing item image">
        </div>    
        <div class="product_info">
            <div class="title_block">
                <div class="prod_title">
                    <h1>
                        {{ listing.title }}
                    </h1>
                </div>
                {% if is_watchable %}
                <div class="watchlist_indicator">
                    <form action="{% url 'edit_watchlist' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            {% load static %}
                            <input name="wl_flag" type="hidden" value="False">
                            {% if is_in_watchlist %}
                                <img src="{% static 'auctions/img/del_watchlist.png' %}" alt="Delete from Watchlist">
                            {% else %}
                                <img src="{% static 'auctions/img/add_watchlist.png' %}" alt="Add to Watchlist">
                            {% endif%}
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            <hr class="prod_hr" />
            <div class="prod_price">
                <div class="price">
                    <span class="price_text">
                        ${{ listing.price }}
                    </span>
                </div>
            </div>
            <hr class="prod_hr" />
            <div class="prod_description">
                <p>{{ listing.description }}</p>
            </div>
        </div>
    </div>
    <div class="bid_block">
        <div class="new_bid">
            <p>Place your bid (form)</p>
        </div>
        <div class="bid_stat">
            <p>Some kind of statistics...</p>
        </div>
    </div>
    <div class="details">
        <h3>Delails:</h3>
        <ul>
            <li>
                Listed by: {{ listing.auctioneer }}
            </li>
            <li> 
                Category: {{ listing.category }}
            </li>
            <li>
                Created: {{ listing.created_date }}
            </li>
        </ul>
    </div>
    <div class="comment_block">
        <div class="comment">
            <div class="comment_text"></div>
            <div class="comment_reaction"></div>
        </div>
        <div class="comment_form">
            <p>There should be a form for a new comment</p>
        </div>
    </div>
    {% endblock %}