{% extends "auctions/layout.html" %}
{% load django_bootstrap5 %}

{% block body %}
<h2>Active Listings</h2>
{% if active_list %}

<table class="table table-light table-striped">
    <tbody>
    {% for item in active_list %}
        <tr>
            <td class="col-1">
                <a href="{% url 'listing' item.id %} ">
                    <div class="table_cell_image"><img src="{{ item.image }}" alt="Listing item image"></div></a>
            </td>
            <td class="col-6">
                <a href="{% url 'listing' item.id %} ">{{ item.title }}</a>
            </td>
            <td class="col-3">${{ item.price}}/ ${{item.bid_info.max_bid}} is a max bid</td>
            <td class="col-3">
                <a href="{% url 'edit' item.id %}" class="btn  btn-secondary" >Edit</a>
                <a href="{% url 'close_auction' item.id %}" class="btn  btn-dark">Close</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p> You don't have any active listings. Create a new one!</p>
{% endif %}
<hr>
<h2>Closed Listings</h2>
{% if closed_list %}
<table class="table table-secondary table-striped">
    <tbody>
        {% for item in closed_list %}
        <tr>
            <td class="col-1">
                <a href="{% url 'listing' item.id %} "><div class="table_cell_image"><img src="{{ item.image }}" alt="Listing item image"></div></a>
            </td>
            <td class="col-10">
                <a href="{% url 'listing' item.id %} ">{{ item.title }}</a>
            </td>
            <td class="col-2">$ {{ item.bid_info.max_bid}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You don't have any closed listings.</p>
{% endif %}
{% endblock %}